version: '3.8'

services:
  # 1. Database (MongoDB)
  mongodb:
    image: mongo:latest
    ports: ["27017:27017"]
    volumes: ["mongo_data:/data/db"]
    networks:
      - docgen-network

  # 2. Caching (Redis)
  redis:
    image: redis:alpine
    ports: ["6380:6379"]
    networks:
      - docgen-network

  # 3. Messaging (RabbitMQ)
  rabbitmq:
    image: rabbitmq:3-management
    ports: ["5672:5672", "15672:15672"]
    networks:
      - docgen-network

  # 4. Identity Provider (Keycloak + Postgres)
  postgres-keycloak:
    image: postgres:15
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    volumes: ["postgres_keycloak_data:/var/lib/postgresql/data"]
    networks:
      - docgen-network

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    command: start-dev --import-realm
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres-keycloak/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      KC_HTTP_ENABLED: "true"
    ports: ["8080:8080"]
    depends_on:
      - postgres-keycloak
    volumes:
      - ./config/realm-export.json:/opt/keycloak/data/import/realm-export.json
      - ../infrastructure/keycloak/themes/docgen-theme:/opt/keycloak/themes/docgen-theme
    networks:
      - docgen-network

  # 5. Observability Stack
  prometheus:
    image: prom/prometheus:latest
    ports: ["9090:9090"]
    volumes:
      - "prometheus_data:/prometheus"
      - "./config/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
    networks:
      - docgen-network

  grafana:
    image: grafana/grafana:latest
    ports: ["3001:3000"]
    depends_on:
      - prometheus
    volumes:
      - "grafana_data:/var/lib/grafana"
    networks:
      - docgen-network

  loki:
    image: grafana/loki:latest
    ports: ["3101:3100"]
    volumes:
      - "./config/loki-local-config.yml:/etc/loki/local-config.yaml:ro"
    networks:
      - docgen-network

  promtail:
    image: grafana/promtail:latest
    depends_on:
      - loki
    volumes:
      - "./config/promtail-config.yml:/etc/promtail/config.yml:ro"
      - "/var/log:/var/log"
    command: "-config.file=/etc/promtail/config.yml"
    networks:
      - docgen-network

networks:
  docgen-network:
    name: docgen-network
    driver: bridge

volumes:
  mongo_data:
  postgres_keycloak_data:
  prometheus_data:
  grafana_data:
